*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #dedede;
    display: flex;
    min-height: 100vh;
}
form{
    margin: auto;
    width: 50%;
    max-width: 500px;
    background: red;
}